body{

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{

}

h3{

}

label{
    padding-left: 15px;
}

.option-div{
    display: none;
}
.option-div-conn{
    display: none;
}

#content{
    background: -moz-linear-gradient(top, #97e2e7 0%, #f2f6f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97e2e7), color-stop(100%, #f2f6f5));
    background: -webkit-linear-gradient(top, #97e2e7 0%, #f2f6f5 100%);
    min-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 25px;
}